<div class="dashboard-content small-9 columns">
	<h6>Welcome, <%= current_user.firstname.capitalize %></h6>

	<div class="title">
		<h3>Your Error Logs</h3>
	</div>

	<div class="panel small-6 columns">
		<% @user_errorlogs.each do |errorlog|%>
			<div class="panel dash-panel">
			  <h5><%= link_to errorlog.title, errorlog_path(errorlog) %></h5>
			  <p>
			  	<% raw errorlog.tags.map(&:tag_name).map {|t| link_to t, tag_path(t)}.each do |t| %>
          	<span class="[success alert secondary] label"><%= t %></span>
          <% end %>
        </p>
			</div>
		<% end %>
	</div>
		<div class="panel small-6 columns">
		<h2>Total Errors <%= @total_errors %></h2>
		<h2>Total Unsolved <%= @unsolved_errors %></h2>
		<h2>Search</h2>
		<% @alltags.each do |tag| %>
		<span class="[success alert secondary] label"><%= link_to "#{tag}", tag_path(tag) %></span>
		<% end %>


		</div>
</div>

