<div class="dashboard-content small-9 columns">

	<div class="title">
		<h3>Your Error Logs</h3>
	</div>

	<div class="panel small-6 columns container1">
		<% @user_errorlogs.each do |errorlog|%>
			<div class="panel dash-panel">
			  <h5><%= link_to errorlog.title, errorlog_path(errorlog) %></h5>
			  <p>
			  	<% raw errorlog.tags.map(&:tag_name).map {|t| link_to t, tag_path(t)}.each do |t| %>
          	<span class="[success alert secondary] label"><%= t %></span>
          <% end %>
        </p>
			</div>
		<% end %>
	</div>

	<div class="panel small-6 columns container2">
		<div class="row">
			<div class="panel small-6 columns sm-dash-widget1">
				<h2>Total Errors</h2>
				<p><%= @total_errors %></p>
			</div>

			<div class="panel small-6 columns sm-dash-widget2">
				<h2>Unsolved</h2>
				<p><%= @unsolved_errors %></p>
			</div>
		</div>
		
		<div class="row panel callout unique-tags">
			<p>
				<% @unique_user_tags.each do |tag| %>
					<span class="[success alert secondary] label"><%= link_to "#{tag}", tag_path(tag) %></span>
				<% end %>
			</p>

		</div>


		</div>
</div>

