<div class="row">
  <div class="large-12 columns title">
    <h2>New Solution</h2>
  </div>
</div>

<%= form_for(@solution, url: errorlog_solutions_path(@errorlog)) do |f| %>
	<div class="row">
	  <div class="large-12 columns">
	    <%= f.label :description %>
	    <%= f.text_area :description, size: "60x12",autofocus: true %>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	    <%= f.label :Worked? %>
	    <%= f.radio_button(:worked, true) %>
	    <%= label_tag(:worked, "Yes") %>
	    <%= f.radio_button(:worked, false) %>
	    <%= label_tag(:worked, "No") %>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	    <%= f.submit "Add Solution", class: "button green-button" %>
	  </div>
	</div>
<% end %>